/* Fonts */
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

/* Reset styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
}

picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

/* glob */
body {
    font-family: 'Gilroy';
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.main__section {
    flex: 1 0 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 20;
    position: sticky;
    top: 0;
}

.section__content {
    padding: 0 110px;
    position: relative;
    max-width: 1276px;
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    overflow: hidden;
}

.section__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.section__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.section__background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.main__scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
}

.main__drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
}

.project-title {
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    color: #252525;
}

.project-title_white {
    color: #fff;
}

.project-descr {
    font-size: 20px;
    line-height: 24px;
    color: #252525;
}

.project-descr_white {
    color: #fff;
}

.project-sub-descr {
    font-size: 20px;
    line-height: 120%;
    color: #252525;
}

.project-sub-descr_white {
    color: #fff;
}

.sticky {
    position: fixed;
    z-index: 101;
}

.stop {
    position: relative;
    z-index: 101;
}

/* about */
.about {
    padding-top: 140px;
    padding-bottom: 140px;
}

.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
    width: max-content;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity .8s ease, transform .8s ease;
}

.about__logo.current {
    opacity: 1;
    transform: translateY(0);
}

.about__descr {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    max-width: 557px;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity .8s ease, transform .8s ease;
}

.about__descr.current {
    transform: translateX(0);
    opacity: 1;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.about__wrapper-content {
    padding-top: 40px;
    height: 100%;
}

.about__decor-block {
    position: relative;
    height: 100%;
}

.about__circle-small {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-20%);
}

.skills {
    display: flex;
    max-width: 600px;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .8s ease, opacity .8s ease;
}

.skills.current {
    opacity: 1;
    transform: translate(0);
}

.skills__block {
    margin-right: 18px;
    flex-grow: 1;
}

.skills__block:last-child {
    margin-right: 0;
}

.skills__item {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-bottom: 14px;
}

.skills__item:last-child {
    margin-bottom: 0;
}

.electric-ball {
    position: absolute;
    top: -220px;
    right: -200px;
    border-radius: 50%;
    width: 1200px;
    height: 1200px;
    object-fit: cover;
}

.electric-ball::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 210px 190px #000;
}


.electric-ball__img {
    width: 100%;
    height: 100%;
}

/* director */
.director {
    padding-top: 60px;
    padding-bottom: 60px;
}

.director__wrapper {
    display: flex;
    justify-content: space-between;
}

.director__logo {
    margin-bottom: 40px;
}

.director__info {
    max-width: 560px;
    height: 100%;
}

.director__title {
    margin-bottom: 40px;
}

.director__descr {
    margin-bottom: 40px;
    font-weight: 700;
}

.director__descr_size {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    display: block;
}

.director__sub-descr {
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 16px;
}

.director__sub-descr:last-child {
    margin-bottom: 0;
}

.director__picture {
    position: relative;
    top: -110px;
    margin-right: 10px;
    min-width: 350px;
    opacity: 0;
    transform: translateX(-50%);
    transition: transform .8s ease, opacity .8s ease;
}

.director__picture.current {
    opacity: 1;
    transform: translateX(0);
}

.director__picture::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 90%;
    bottom: 0;
    box-shadow: inset 0px 0px 20px 20px #000103;
}

.director__info {
    padding-top: 50px;
    opacity: 0;
    transform: translateX(50%);
    transition: transform .8s ease, opacity .8s ease;
}

.director__info.current {
    opacity: 1;
    transform: translateX(0);
}

/* ow */
.ow {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section__logo-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ow__logo-group {
    margin-bottom: 40px;
}

.ow__wrapper {
    display: flex;
    justify-content: space-between;
}

.ow__picture {
    margin-right: 50px;
    filter: drop-shadow(0px 4px 34px rgba(0, 66, 26, 0.1));
    min-width: 410px;
    align-items: stretch;
    justify-content: stretch;
    flex: 1 1 auto;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity .8s ease, transform .8s ease;
}

.ow__picture.current {
    transform: translateX(0);
    opacity: 1;
}

.ow__info {
    max-width: 500px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity .8s ease, transform .8s ease;
}

.ow__info.current {
    transform: translateX(0);
    opacity: 1;
}

.technologies {
    margin-bottom: 8px;
}

.technologies__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
    margin-bottom: 3px;
}

.technologies__descr {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
}

.technologies_color .technologies__title,
.technologies_color .technologies__descr {
    color: #fff;
}

.ow__title {
    margin-bottom: 4px;
}

.ow__descr {
    margin-bottom: 16px
}

.ow__image {
    border-radius: 30px;
}

.ow__image-groupe {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ow__image-present {
    filter: drop-shadow(0px 4px 34px rgba(0, 66, 26, 0.1));
}

.ow__image-picture:last-child {
    padding-top: 20px;
    transform: translateX(-30px);
}

.ow__sub-descr {
    margin-bottom: 20px;
}

.ow__sub-descr:last-child {
    margin-bottom: 0;
}

.site-link {
    display: flex;
    align-items: center;

}

.site-link__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-right: 20px;
    color: #353535;
    text-decoration: underline;
    text-transform: uppercase;
}

.site-link__text_white {
    color: #fff;
}

/* stormberg */
.stormberg {
    padding-top: 60px;
    padding-bottom: 60px;
}

.stormberg__logo-group {
    margin-bottom: 20px;
}

.stormberg__wrapper {
    display: flex;
}

.stormberg__block {
    margin-right: 55px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.stormberg__block:last-child {
    margin-right: 0;
    padding-top: 50px;
    transform: translateX(100%);
    opacity: 0;
}

.stormberg__block.current {
    opacity: 1;
    transform: translateX(0);
}

.stormberg__technologies {
    margin-bottom: 24px;
}

.stormberg__descr {
    margin-bottom: 32px;
}

.stormberg__sub-descr {
    margin-bottom: 10px;
}

.stormberg__sub-descr_margin {
    margin-bottom: 42px;
}

.stormberg__picture {
    margin-bottom: 50px;
}

/* vincko */
.vincko {
    padding: 40px 0;
}

.vincko__logo-group {
    margin-bottom: 40px;
}

.vincko__wrapper {
    display: flex;
}

.vincko__block {
    margin-right: 90px;
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .8s ease, opacity .8s ease;
}

.vincko__block:last-child {
    margin-right: 0;
    padding-top: 50px;
    opacity: 0;
    transform: translateX(100%);
}

.vincko__block.current {
    opacity: 1;
    transform: translateX(0);
}

.vincko__picture_company {
    position: absolute;
    bottom: 0;
    right: -30px;
    filter: drop-shadow(0px 4px 34px rgba(0, 18, 66, 0.1));
}

.vincko__technologies {
    margin-bottom: 14px;
}

.vincko__title {
    margin-bottom: 14px;
}

.vincko__descr {
    margin-bottom: 25px;
}

.vincko__sub-descr {
    margin-bottom: 25px;
}

.vincko__sub-descr_margin {
    margin-bottom: 56px;
}

/* contacts */
.contacts {
    padding: 40px 0;
}

.contacts__wrapper {
    display: flex;
    position: relative;
}

.contacts__info {
    padding-top: 130px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity .8s ease, transform .8s ease;
}

.contacts__info.current {
    transform: translateX(0);
    opacity: 1;
}

.contacts__title {
    font-weight: 800;
    font-size: 70px;
    line-height: 88px;
    color: #fff;
    white-space: nowrap;
    margin-bottom: 24px;
}

.contacts__link {
    display: block;
    width: max-content;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}

.contacts__director {
    opacity: 0;
    /* transform: translateX(100%); */
    transform: translateY(-45px);
    min-width: 430px;
    position: relative;
    transition: opacity .8s ease, transform .8s ease;
}

.contacts__director.current {
    opacity: 1;
    transform: translateY(0);
}

.contacts__director::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80px;
    bottom: 0;
    box-shadow: inset 0px -50px 25px 0px #000103;
}

@media (max-width: 1200px) {

    /* director */
    .director__picture {
        top: -30px;
    }

    /* ow */
    .ow__content {
        padding: 0 45px;
    }

    /* stormberg */
    .stormberg__content {
        padding: 0 45px;
    }

    /* vincko */
    .vincko__content {
        padding: 0 45px;
    }
}

@media (max-width: 1024px) {

    /* glob */
    .section__content {
        padding: 0 20px;
    }

    .main__scroll {
        display: none;
    }

    /* about */
    .about {
        padding: 40px 0;
    }

    /* director */
    .director {
        padding: 40px 0;
    }

    /* contacts */
    .contacts__director {
        display: none;
    }

    .contacts__wrapper {
        justify-content: center;
    }

    .contacts__link {
        margin: 0 auto;
    }
}

@media (max-width: 991px) {

    /* director */
    .director__picture {
        min-width: 250px;
    }

    .director__info {
        padding-top: 0;
    }

    /* ow */
    .ow__picture {
        display: none;
    }

    .ow__info {
        max-width: none;
    }

    .ow__sub-descr {
        margin-bottom: 16px;
    }

    .ow__image-groupe {
        margin-bottom: 16px;
    }

    .ow__image-picture {
        margin-right: 16px;
    }

    .ow__image-picture:last-child {
        transform: none;
        padding: 0;
        margin: 0;
    }

    /* stormberg */
    .stormberg__wrapper {
        display: block;
    }

    .project-picture {
        max-width: 392px;
        width: 100%;
    }

    .stormberg__block {
        margin-right: 0;
    }

    .vincko__block:first-child {
        display: none;
    }

    .vincko__block:last-child {
        padding-top: 0;
    }

    .vincko__sub-descr_margin {
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {

    /* glob */
    .section__logo:first-child .section__logo-img {
        width: 100px;
    }

    /* about */
    .about__decor-block {
        display: none;
    }

    .about__wrapper-content {
        padding-top: 0;
    }

    /* director */
    .director__picture {
        max-width: 250px;
        min-width: 0;
        float: left;
    }

    .director__wrapper {
        display: block;
    }

    .director__info {
        max-width: none;
    }

    .project-title {
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 24px;
    }

    .director__descr {
        margin-bottom: 16px;
    }

    .project-descr {
        font-size: 18px;
        line-height: 120%;
    }

    .director__descr_size {
        font-size: 18px;
        line-height: 120%;
    }
}

@media (max-width: 575px) {

    /* about */
    .about__wrapper {
        margin-bottom: 24px;
    }

    .about__logo {
        margin-bottom: 24px;
    }

    .about__descr {
        font-size: 18px;
        line-height: 120%;
    }

    .skills {
        display: block;
    }

    .skills__block {
        margin-right: 0;
        margin-bottom: 14px;
    }

    .skills__block:last-child {
        margin-bottom: 0;
    }

    /* director */
    .director__picture {
        max-width: 150px;
    }

    .project-title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .project-descr {
        font-size: 14px;
        line-height: 120%;
    }

    .project-sub-descr {
        font-size: 14px;
        line-height: 120%;
    }

    .director__descr_size {
        font-size: 14px;
        line-height: 120%;
    }

    /* ow */
    .ow__image-groupe {
        flex-direction: column;
        align-items: stretch;
    }

    .ow__image-picture {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .ow__image-picture:last-child {
        margin-bottom: 0;
    }

    /* contacts */
    .contacts__info {
        padding-top: 100px;
    }

    .contacts__title {
        font-size: 40px;
        line-height: 120%;
    }
}